<!DOCTYPE html>
<html ng-app="encuestasApp">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Encuestas de la DGEyC</h1>
        
        <div ng-controller="listaController as encuestas">
            <div ng-repeat="encuesta in encuestas.lista">
                <h2>{{encuesta.nombre}} - {{encuesta.periodo}}</h2>
                <div ng-repeat="form in encuesta.formularios">
                    <h3>{{form.id}} - {{form.nombre}}</h3>
                </div>
            </div>
        </div>
    </body>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
</html>
