<!doctype html>
<html ng-app="publicacionesApp">
<head>
    <meta charset='utf-8'>
    <title>DGEyC</title>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <h1>Publicaciones</h1>
    <p>Anuario Estadística de la Ciudad de Buenos Aires</p>
    <ul ng-controller="ListaPub as lista">
        <li ng-repeat="year in lista.publicaciones">{{ year }}</li>
    </ul>
    <h1>Publicaciones Anteriores</h1>
    <p>Anuario Estadística de la Ciudad de Buenos Aires</p>
    <ul ng-controller="lista2">
        <li ng-repeat="year in publicaciones">{{ year }}</li>
    </ul>
</body>
</html>