<style>
.campo{
    margin:4px;
    margin-left:64px;
}
</style>
<div>
    <h3>{{form.id}} - {{form.nombre}}</h3>
    <div ng-repeat="pregunta  in form.preguntas">
        <div ng-hide="form.filtros[pregunta.id]">
            <h4>{{pregunta.nombre}}</h4>
            <div class=campo ng-repeat="campo  in pregunta.campos">
                <label>{{campo.nombre}}</label>
                <span ng-switch="campo.tipo">
                    <input ng-switch-when="texto" type="text" ng-model="form.respuestas[pregunta.id][campo.id]">
                    <input ng-switch-when="num" type="number" ng-model="form.respuestas[pregunta.id][campo.id]">
                    <select ng-switch-when="sel" ng-model="form.respuestas[pregunta.id][campo.id]">
                        <option ng-repeat="opcion  in campo.valores" value="{{opcion.val}}">
                            {{opcion.val}}: {{opcion.texto}}
                        </option>
                    </select>
                </span>
            </div>
        </div>
    </div>
    <p>
    <button ng-click="form.grabar()">Enviar datos</button>
    <h3>Objeto respuestas</h3>
    {{form.respuestas}}
    <h3>Objeto filtros</h3>
    {{form.filtros}}
    
</div>
