<style>
.id_pregunta{
    display:inline-block;
    background-color:#CCC;
    font-size:110%;
    min-width:40px;
    text-align:center;
    margin-right:6px;
}
.campos{
    margin:3px;
    margin-left:64px;
}
.campos label{
    display:inline-block;
    min-width:64px;
}
input[type="number"]{
    width:48px;
}
</style>
<div>
    <h3>{{form.id}} - {{form.nombre}}</h3>
    <div ng-repeat="pregunta in form.preguntas">
        <h4><b class=id_pregunta>{{pregunta.id}}</b> {{pregunta.nombre}}</h4>
        <div class="campos" ng-repeat="campo in pregunta.campos">
            <label>{{campo.nombre}}</label>
            <span ng-switch="campo.tipo">
                <input ng-switch-when="texto" type="text" ng-model="form.respuestas[pregunta.id][campo.id]">
                <input ng-switch-when="num" type="number" ng-model="form.respuestas[pregunta.id][campo.id]">
                <select ng-switch-when="sel"              ng-model="form.respuestas[pregunta.id][campo.id]">
                    <option ng-repeat="valor in campo.valores" value="{{valor.val}}">{{valor.val}}: {{valor.texto}}</option>
                </select>
            </span>
        </div>
    </div>
    <div>Debug: {{form.respuestas}}</div>
</div>
